@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,300i,400,400i,500,700|Material+Icons&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");

/* reset */
body {
	color: #444;
	font: 14px 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

br {
	letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #666;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 접근성(accessibility)을 고려한 화면 감춤 */
.a11y-hidden {
	overflow: hidden;
	position: absolute;
	clip: rect(0,0,0,0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}


/* common */
.local, .global {
	display: block;
	width: 63px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: #00bcd4;
}

.text_area h3 {
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 400;
}

.text_area h3 a:hover {
	opacity: 0.6;
	transition: transform .25s ease;
}

.text_area h3 a {
	color: #424;
	transition: transform .25s ease;
}

.text_area .tag {
	display: inline-block;
	margin-bottom: 14px;
	color: #00bcd4;
}

.text_area em {
	display: block;
	font-style: initial;
	color: #a6a6a6;
}

body {
	width: 100%;
	background-color: #e0e0e0;
}

.wrap {
	width: 1440px;
	margin: 0 auto;
	background-color: white;
}

header {
	position: relative;
	padding: 30px 0 0 30px;
}

header h1 {
	width: 222px;
	height: 31px;
	margin-bottom: 21px;
}

header nav ul {
	overflow: hidden;
	margin-bottom: 20px;
}

header nav ul > li + li {
	margin-left: 32px;
}

header nav ul > li {
	float: left;
	line-height: 14px;
}

header .nation {
	position: absolute;
	top: 50px;
	right: 30px;
	width: 216px;
	height: 32px;
	padding-left: 12px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
}

.main_article {
	overflow: hidden;
	height: 470px;
}

.main_article .col {
	position: relative;
	float: left;
	width: 50%;
	overflow: hidden;
}

.main_article .col .img_area:hover {
	transform: scale(1.05);
	transition: transform .4s ease;
}

.main_article .col .img_area {
	position: relative;
	overflow: hidden;
	height: 460px;
	transition: transform .4s ease;
}

.main_article .col .img_area img {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	transform: translate(-50%, 0);
}

.main_article .col .text_area {
	position: relative;
	position: absolute;
	left: 28px;
	bottom: 28px;
	width: 354px;
	height: auto;
	padding: 33px;
	background-color: white;
}

.main_article .col .text_area .local {
	position: absolute;
	top: -14px;
	left: 33px;
}

.small_article {
	height: 388px;
	padding: 28px;
}

.small_article .small_article_list .col {
	position: relative;
	float: left;
	width: 325px;
	margin-right: 28px;
}

.small_article .small_article_list .col:hover .img_area img {
	transform: scale(1.05);
}

.small_article .small_article_list .col .img_area {
	overflow: hidden;
	height: 200px;
}

.small_article .small_article_list .col .img_area img {
	width: 325px;
	height: 200px;
	transition: transform .4s ease;
}

.small_article .small_article_list .col .text_area {
	margin-top: 20px;
}

.small_article .small_article_list .col .global {
	background-color: #607d8b;
}

.small_article .small_article_list .col .local, .small_article .small_article_list .col .global {
	position: absolute;
	top: 174px;
	bottom: 0;
}

.small_article .newsletter_youtube {
	float: left;
	width: 325px;
}

.small_article .newsletter_youtube .newsletter {
	position: relative;
	overflow: hidden;
	height: 120px;
	padding: 30px 27px 30px 27px;
	margin-bottom: 28px;
	background-color: #0097a7;
}

.small_article .newsletter_youtube .newsletter strong {
	text-transform: uppercase;
	color: #ffee58;

}

.small_article .newsletter_youtube .newsletter p {
	margin-top: 15px;
	margin-bottom: 16px;
	font-size: 16px;
	color: #fff;
}

.small_article .newsletter_youtube .newsletter a {
	display: inline-block;
	padding: 8px 7px;
	margin-top: 3px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0097a7;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
}

.small_article .newsletter_youtube .newsletter img {
	position: absolute;
	right: -15px;
	bottom: -7px;
	width: 120px;
	height: 80px;
}

.small_article .newsletter_youtube .youtube a {
	display: block;
	height: 120px;
	padding: 30px 27px 30px 27px;
	background: #b71c1c url(../images/youtube-bg.png) no-repeat;
	background-blend-mode: multiply;
	background-position: bottom -50px right -75px;
	background-size: 80%;
}

.small_article .newsletter_youtube .youtube p {
	font-size: 16px;
	color: #fff;
}

.small_article .newsletter_youtube .youtube img {
	width: 93px;
	height: 42px;
	margin-top: 45px;
}

.big_article {
	overflow: hidden;
	height: 973px;
}


.big_article .left {
	float: left;
	overflow: hidden;
	width: 792px;
	padding: 56px 84px;
}

.big_article .left .col {
	width: 790px;
	height: 250px;
	margin-bottom: 56px;
}

.big_article .left .col:hover .img_area img {
	transform: scale(1.02) translate(-50%, 0);
}

.big_article .left .col .img_area {
	position: relative;
	float: left;
	overflow: hidden;
	width: 380px;
	height: 250px;
}

.big_article .left .col .img_area  img {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	transform: translate(-50%, 0);
	transition: transform .4s ease;
}

.big_article .left .col .text_area {
	float: left;
	overflow: hidden;
	width: 354px;
	padding: 10px 0 0 56px;
}

.big_article .left .col .text_area .local {
	margin-bottom: 15px;
}

.big_article .left .col .text_area h3 {
	line-height: 26px;
}

.big_article .right {
	float: right;
	width: 366px;
	height: 973px;
	padding: 53px 56px 0 58px;
	background-color: #617d8a;
}

.big_article .right h2 {
	margin-bottom: 37px;
	font-size: 28px;
	font-weight: 300;
	color: #ffee58;
}

.big_article .right .planning_tools_list {
	padding-bottom: 50px;
}

.big_article .right .planning_tools_list li + li {
	padding-top: 30px;
	border-top: 1px solid #8096a1;
}

.big_article .right .planning_tools_list li:hover svg {
	transform: translate(4px, 0);
	transition: transform .4s ease;
}

.big_article .right .planning_tools_list li a strong {
	display: block;
	font-size: 16px;
	color: white;
}

.big_article .right .planning_tools_list li a p {
	margin-top: 6px;
	font-size: 16px;
	line-height: 24px;
	color: #becacf;
}


.big_article .right .planning_tools_list li .arrow_right {
	display: block;
	margin-top: 8px;
	margin-bottom: 20px;
	fill: #FFEE58;
}


.big_article .right .planning_tools_list li .arrow_right svg {
	width: 24px;
	height: 24px;
	transition: transform .4s ease;
}

.big_article .right > .view_more {
	position: relative;
	display: block;
	width: 139px;
	line-height: 15px;
	font-weight: 400;
	color: #ffff8d;
}

.big_article .right > .view_more:hover {
	color: #ffffc0;
}

.big_article .right > .view_more svg {
	position: absolute;
	right: 0;
	width: 14px;
	height: 14px;
	fill: currentColor;
}

.guest_editor_stories {
	height: 728px;
	padding: 56px 84px;
	background: #f5f5f5 url('../images/guest-editor-bg.png') no-repeat;
	background-position: bottom right -212px;
}

.guest_editor_stories h2 {
	margin: 5px 0 66px 0;
	font-size: 28px;
	font-weight: 300;
	color: #9e9ea0;
}

.guest_editor_stories .story + .story {
	margin-left: 65px;
}

.guest_editor_stories .story {
	float: left;
	width: 603px;
	height: 636px;
	box-shadow: 0px 3px 30px 3px rgba(50, 50, 50, 0.1);
	transition: box-shadow 1s ease;
}

.guest_editor_stories .story:hover .img_area img {
	transform: scale(1.05) translate(-50%, 0);
}

.guest_editor_stories .story .profile_area {
	padding: 15px;
	height: 70px;
	background-color: white;
}

.guest_editor_stories .story .profile_area .profile_box {
	float: left;
	overflow: hidden;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	border-radius: 35px;
}

.guest_editor_stories .story .profile_area .profile_box img {
	width: 100%;
	height: 100%;
}

.guest_editor_stories .story .profile_area dl {
	float: left;
	margin-top: 7px;
}

.guest_editor_stories .story .profile_area dl dt {
	font-size: 18px;
	font-weight: bold;
}

.guest_editor_stories .story .img_area {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 360px;
}

.guest_editor_stories .story .img_area img {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	transform: translate(-50%, 0);
	transition: transform .4s ease;
}

.guest_editor_stories .story .text_area {
	height: 111px;
	padding: 33px 27px;
	background-color: white;
}

.leaderboards {
	position: relative;
	overflow: hidden;
	height: 706px;
	padding: 56px 0;
	background: #b71c1c url(../images/youtube-bg.png) no-repeat;
	background-blend-mode: multiply;
	background-position: bottom -188px right -324px;
}

.leaderboards .leaderboards_title {
	margin-bottom: 0;
	margin-left: 84px;
	font: 300 28px/32px "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
	color: #fff;
}

.leaderboards .leaderboards_subtitle {
	margin-left: 84px;
	margin-bottom: 60px;
	font: 400 14px/20px "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
	color: #fff;
}

.leaderboards .leaderboards_slider {
	overflow: hidden;
	margin-left: 84px;
}

.leaderboards .leaderboards_slider_list {
	width: 560px;
	height: 475px;
	padding-right: 46px;
	box-shadow: 0px 3px 30px 3px rgba(50, 50, 50, 0.2);
	transition: box-shadow 1s ease;
}

.leaderboards .leaderboards_slider_list:hover .image_area img {
	transform: scale(1.03) translateY(-50%);
}

.leaderboards .image_area {
	position: relative;
	overflow: hidden;
	width: 560px;
	height: 360px;
}

.leaderboards .image_area img {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	transition: transform .4s ease;
}

.leaderboards .text_area {
	width: 504px;
	padding: 33px 28px;
	background: #fff;
}

.leaderboards .bx-controls-direction a.bx-prev {
	position: absolute;
	right: 184px;
	top: 56px;
	display: inline-block;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
	background: url('../images/slider-nav-prev.svg') no-repeat 0 0;
}

.leaderboards .bx-controls-direction a.bx-next {
	position: absolute;
	right: 84px;
	top: 56px;
	display: inline-block;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
	background: url('../images/slider-nav-next.svg') no-repeat 0 0;
}

.leaderboards .view_all {
	position: relative;
	width: 185px;
	float: right;
	margin-right: 84px;
	margin-top: 100px;
	text-transform: uppercase;
	color: #fff;
}

.leaderboards .view_all:hover {
	opacity: 0.85;
}

.leaderboards .view_all svg {
	width: 14px;
	height: 14px;
	position: absolute;
	right: 0;
	fill: currentColor;
}

.big_article .right.google ul li + li {
	margin-top: 24px;
}

.big_article .right.google ul li {
	width: 368px;
	height: 70px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.big_article .right.google ul li a {
	display: block;
	overflow: hidden;
}

.big_article .right.google ul li a div {
	position: relative;
	float: left;
	width: 70px;
	height: 70px;
	background-color: #f5f5f5;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.big_article .right.google ul li a div img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	transform: translate(-50%, -50%);
}

.big_article .right.google ul li a span {
	float: left;
	margin-top: 25px;
	margin-left: 12px;
	font-size: 16px;
	font-weight: 500;
	color: #424;
}

.sign_up_now {
	display: flex;
	height: 80px;
	padding: 60px 30px;
	justify-content: center;
	text-align: center;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.sign_up_now .icon {
	float: left;
	width: 80px;
	margin-right: 39px;
}

.sign_up_now .text_area {
	float: left;
}

.sign_up_now .text_area strong {
	line-height: 18px;
	font-size: 23px;
	font-weight: 500;
}

.sign_up_now .text_area p {
	margin: 19px 0 17px 0;
	line-height: 14px;
	text-align: left;
	color: #9e9ea1;
}

.sign_up_now .text_area span a {
	display: block;
	line-height: 13px;
	text-align: left;
	text-transform: uppercase;
	color: #45c4ff;
}

footer {
	padding: 20px 30px;
}

footer .top {
	border-bottom: 1px solid #f5f5f5;
}

footer .top img {
	width: 83px;
	height: 27px;
	margin-bottom: 15px;
}

footer .top #footer_navigation {
	float: right;
	overflow: hidden;
	margin-top: 10px;
}

footer .top #footer_navigation li + li {
	margin-left: 18px;
}

footer .top #footer_navigation li {
	float: left;
	line-height: 14px;
}

footer .top #footer_navigation li a {
	color: #bdbdbd;
}

footer .bottom {
	padding-top: 15px;
	margin-bottom: 20px;
}

footer .nation {
	float: right;
}

select {
	
}
